{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  },
  "plugins": ["@babel/plugin-transform-runtime"]
}
